/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex mono';
  --accent-color: #FF0070;
  --header-color: #DB00FF;
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --block-header-color: #000028;
  --accent-text-color: #FF0070;
  --decoration-color: rgba(255, 0, 112, 0.4);
  --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --bg-image: url(../images/cover-image-dark.png);
}